.builder {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 4rem;
    width: 80%;
    flex: 0 0 65%;
    border-top-right-radius: 900px;
   background-color: var(--color-main);
}
@media (max-width: 769px) {
    .builder {
     flex: 0 0 53%;
    }
 }
.builder-container {
    width: fit-content;
    margin-right: 20%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    grid-template-rows: repeat(4, 1fr);
}
@media (max-width: 1025px) {
   .builder-container {
    grid-template-columns: repeat( 4, 1fr );
   }
}
@media (max-width: 769px) {
   .builder-container {
    grid-template-columns: repeat( 3, 1fr );
    margin-right: 10%;
    margin-left: 10%;
   }
}
.builder-ingredient {
    display: flex;
    align-items: center;
    justify-content: center;
}
.builder-ingredient-img {
    height: 10rem;
    max-width: 11rem;
}
@media (max-width: 1150px) {
    .builder-ingredient-img {
        height: 8rem;
    }
}
@media (max-width: 769px) {
    .builder-ingredient-img {
        height: 6rem;
        max-width: 8rem;
    }
}
@media (max-width: 425px) {
    .builder-ingredient-img {
        height: 4rem;
        max-width: 5rem;
    }
}

.fly {
    height: 5rem;
    width: 5rem;
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .4s;
}

@media (max-width: 425px) {
    .pet {
        position: absolute;
        height: 7rem;
        width: 7rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 0;
    }
}