.builder {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 60%;
    margin-top: auto;
    border-top-right-radius: 100%;
    background-color: var(--color-main);
    border-right: 30px solid rgba(255, 196, 0, 0.863);
    border-top: 30px solid rgba(255, 196, 0, 0.863);

    &-container {
        width: 100%;
        height: 100%;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);

        &-box {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &-ingredient {
        display: flex;
        align-items: center;
        justify-content: center;

        &-img {
            height: 10rem;
            max-width: 11rem;
        }
    }

        
    .fly {
        height: 5rem;
        width: 5rem;
        position: absolute;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: all .4s;
    }

    .pet {
        position: absolute;
        bottom: 45px;
        right: 17.5vw;
        height: 7rem;
        width: 7rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 0;
    }
}


@media screen and (min-width: 1024px) {
    .builder {
        width: 75%;
    }
 }

 @media screen and (min-width: 1366px) {
    .builder {
        flex: 0 0 70%;
    }
 }