.ingredients {
    position: relative;
    font-size: 4rem;
    color: var(--color-gray);
    margin-top: auto;
    display: flex;
}
.ingredients-container {
    display: flex;
    margin-left: auto;
    padding: 2rem;
}
.ingredients-container::-webkit-scrollbar {
    display: none;
}

.ingredients-box {
    display: flex;
    flex-direction: column;
    margin: 0 2.5rem;
    min-width: 10rem;
}

.ingredients-box-elements {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: auto;
    padding-bottom: .5rem;
    border-bottom: 2px solid #fff;
}
.ingredients-box-header {
    font-size: 1.4rem;
    width: 100%;
    color: #fff;
    text-align: center;
    width: min-content;
    text-transform: uppercase;
    margin: 1rem auto;
}
.ingredients-box-img {
    height: 12vh;
    width: max-content;
    margin: 0 auto;
}
.ingredients-box-amount {
    font-size: 1.4rem;
}
.ingredients-box-totalPrice {
    font-size: 1.4rem;
}
.ingredients-box-price {
    margin-bottom: -.3rem;
    font-size: 2.4rem;
}
.ingredients-box-price,
.ingredients-box-amount,
.ingredients-box-totalPrice {
    color: #fff;
    text-transform: uppercase;
}
.ingredients-box-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.middle {
    padding: 0 1.4rem;
}
.ingredients-box-button {
    flex: 0 0 33%;
    width: 100%;
    height: 4rem;
    font-size: 3.2rem;
    background-color: inherit;
    color: #ddd;
    border: none;
    transition: all .2s;
    cursor: pointer;
}
.ingredients-box-button:hover {
    background-color: var(--color-gray);
    color: var(--color-gray-dark);
}
