.menu {
    display: flex;
    flex-direction: column;
    font-size: 2.6rem;
    width: 25%;
    height: 100%;
    background-color: var(--color-main);
    padding: 5rem 0 4rem 3rem;
}
@media (max-width: 769px) {
    .menu {
        width: 30%;
    }
    
}
@media (max-width: 425px) {
    .menu {
        padding: 1.2rem;
    }
    
}
.menu-h3 {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-grey);
    flex: 0 0 15%;
}
@media (max-width: 425px) {
    .menu-h3 {
        flex-direction: column;
        font-size: 1.2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
}
.menu-h4 {
    text-align: left;
    font-size: 1rem;
    padding-bottom: 2rem;
    color: var(--color-grey);
}
@media (max-width: 425px) {
    .menu-h4 {
       padding-bottom: .8rem;
    }
    
}
.menu-btn {
    height: 4rem;
    width: 100%;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 400;
    text-align: right;
    border: none;
    margin-top: auto;
    margin-bottom: 2rem;
    margin-left: -2rem;
    padding-right: 3rem;
    background-color: var(--color-grey);
    color: var(--color-main);
    cursor: pointer;
    transition: all .2s;
    animation-name: button-rotate;
    animation-duration: 3000ms;
}
@media (max-width: 425px) {
    .menu-btn {
        font-size: 1rem;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        padding-right: .5rem;
    }
}
.menu-btn:hover {
    background-color: var(--color-main);
    color: var(--color-grey);
}
.menu-nav {
    flex: 0 0 50%;
}
@media (max-width: 425px) {
    .menu-nav {
        flex: 0;
    }
}
.menu-nav-ul {
    list-style-type: none;
    color: var(--color-grey);
}
.menu-nav-ul li {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    margin-left: -2rem;
    border-bottom: 1px solid var(--color-grey);
    cursor: pointer;
    transition: all .2s;
}
@media (max-width: 769px) {
    .menu-nav-ul li {
        font-size: 1rem;
    }
    
}
@media (max-width: 425px) {
    .menu-nav-ul li {
        padding-top: .5rem; 
        padding-bottom: .5rem; 
    }
    
}
.menu-nav-ul li:hover {
    background-color: var(--color-grey);
    color: #fff;
}
.menu-nav-ul li > p {
    font-size: 1.8rem;
    margin-right: 3rem;
}
@media (max-width: 769px) {
    .menu-nav-ul li > p {
        font-size: 10px;
    }
    
}
@media (max-width: 425px) {
    .menu-nav-ul li > p {
        font-size: 10px;
        margin-right: .5rem;
    }
}
.menu-li-hide {
    transform: translate(-100%);
}
.menu-highlight {
    background-color: var(--color-grey);
    color: #fff;
}
.menu-price {
    margin-left: auto;
    font-size: 1.8rem;
    margin-right: 3rem;
}
@media (max-width: 425px) {
    .menu-price {
        margin-left: 0;
        margin-right: auto;
        margin-top: .8rem;
    }
}